/** Typeahead stylings **/
#hostnames, .input-parent, .twitter-typeahead {
  width: 100%;

}
.twitter-typeahead {
}
.tt-menu {
  max-height        : 150px;
    min-width: 325px;
  border-width      : 1px;
  border-color      : #66afe9;
  border-style      : solid;
  background-color  : #fff;
  font-size         : 1.25rem;
  overflow-y        : scroll;
}
.tt-suggestion {
padding           : .5rem .5rem;
  text-align: left;
  font-size: 1rem;
}
.tt-suggestion:hover {
  background-color: #1D44C8;
  color: #eee;
}
.tt-cursor {
  background-color: #1D44C8;
  color: #eee;
}
.form-inline > .form-group {
  margin-right: 25px;
  margin-bottom: 0;
}
.form-inline > .form-group > label {
  margin-bottom: 4px;
}
